SPOTIFY_CLIENT_ID=your_spotify_client_id_here
SPOTIFY_CLIENT_SECRET=your_spotify_client_secret_here
SPOTIFY_REDIRECT_URI=http://127.0.0.1:3000/callback
FRONTEND_URL=http://127.0.0.1:3000
ADMIN_EMAIL=theo.frvl@gmail.com
MIX_DOWNLOAD_CONCURRENCY=3
MIX_TRIM_CONCURRENCY=2
MIX_ANALYSIS_CONCURRENCY=2
MIX_CONCAT_BATCH_SIZE=2
MIX_PREFETCH_CONCURRENCY=2
MIX_PREFETCH_MAX_TRACKS=80
